
.calendar_container{
	color: white;
	text-align: center;
}

.calendarApp{
	position: absolute;
	bottom: 4vh;
	left: 5vh;
}

.calendarApp .calendar_container{
	height: 26vh;
	border: 0.4vh solid #00FFF2;
}

.calendarApp .monthYear_container {
	color: pink;
	font-size: 2.2vh;
	font-weight: bold;
	line-height: 5vh;
}
.calendarApp .row{
	color: white;
	width: 30vh;
}
.calendarApp td {
  width: 3.5vh;
  height: 3vh;
  text-align: center;
  line-height: 3vh !important;
  font-size: 1.5vh;
  font-family: monospace;
}



.calendarAppStart{
	margin-top: 17vh;
}
.calendarAppStart .monthYear_container {
	color: pink;
	font-size: 5vh;
	font-weight: bold;
}
.calendarAppStart .row{
	color: white;
	width: 70vh;
}
.calendarAppStart td {
  width: 8vh;
  height: 10vh;
  text-align: center;
  line-height: 10vh !important;
  font-size: 3vh;
  font-family: monospace;
}

#calendarApp tr:nth-child(1) td:nth-child(4){
	color: pink;
	font-weight: bold;
	text-decoration: underline;
  font-size: 3vh;
}
#calendarApp tr:nth-child(1) td:nth-child(5){
	color: pink;
	font-weight: bold;
	text-decoration: underline;
  font-size: 3vh;
}
#calendarApp tr:nth-child(1) td:nth-child(6){
	color: pink;
	font-weight: bold;
	text-decoration: underline;
  font-size: 3vh;
}

.calendarApp .today{
	color: #00FFF2;
	font-weight: bold;
  font-size: 2.3vh;
	border: 0.2vh solid #00FFF2;
	/* border-radius: 1vh; */
}
.calendarAppStart .today{
	color: #00FFF2;
	font-weight: bold;
}

