
#fandom_container{
	/* border: 0.1vh solid white; */
	text-align: center;
	position: absolute;

	/* Web */
	/* bottom: 3vh; */
	/* right: 57vh; */
	
	/* width: 68vh; */
	/* height: 45vh; */

	/* Electron */
	bottom: 3vh;
	right: 52vh;
	
	width: 60vh;
	height: 30vh;
}

img{
	/* Web */
	/* width: auto; */
	/* height: 45vh; */

	/* Electron */
	width: auto;
	height: 30vh;
}

