
#fandom_container{
	position: absolute;
	bottom: 3vh;
	left: 80vh;
	

	width: 65vh;
	height: 45vh;
	/* border: 1vh solid white; */
	text-align: center;
}

img{
	width: auto;
	height: 45vh;
	/* width: 60vh; */
	/* height: auto; */
}

