
@font-face {
 font-family: 'Waiting for the Sunrise', cursive;
 src: url('/fonts/WaitingfortheSunrise.ttf') format('truetype');
}

*{
	background-color: black;
	/* background-color: transparent; */
	outline:none;
}







.musicApp .music_inputbox{
	display: none;
}
.musicApp .music_sticky{
	display: none;
}
.musicApp .music_scrollBox{
	display: none;
}












.ui-autocomplete {
	color: white;
	padding: 0.8vh;
	padding-top: 0vh;
	border: 0.2vh solid white;
	width: 10%;
	/* line-height: 3.5vh; */
	/* line-height: 2vh; */
}

.musicAppStart .music_inputbox{
	background-color: black;
	border: 0.5vh solid pink;
	position: absolute;
	top: 15vh;
	left: 75vh;
	width: 25%;
	padding: 0.7vh;
}

.musicAppStart #songInput{
	border: none;
	width: 100%;
	font-size: 3.5vh;
	font-family: 'Waiting for the Sunrise', cursive;
	color: white;
}

.music_sticky {
	background-color: transparent;
  text-align: left;
	font-size: 5.4vh;
	color: white;
	margin: 3.5vh 4vh 0vh;
	width: 29.5%;
	font-family: 'Waiting for the Sunrise', cursive;
}

.music_scrollBox{
	margin: 20px;
	border: none;
	border: 5px solid white;
	border-radius: 10px;
	padding: 5px;
	font: 24px/36px sans-serif;
	width: 30%;
	height: 60vh;
	overflow-y: scroll;
	background-color: black;
}

.music_scrollBox ul{
	-webkit-padding-start: 0;
	margin: 0.6vh;
}
.music_scrollBox li{
	color: white;
}

.music_scrollBox li div:nth-child(2){
	display: inline-block;
	background-color: black;
	border: 0.4vh solid #00FFF2;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
  text-align: left;
  font-size: 20px;
	width: 80%;
	color: white;

	margin-right: 0px;
	margin-left: 30px;
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;
	font-family: 'Waiting for the Sunrise', cursive;
}

.focusedBox div:nth-child(2){
	border: 0.4vh solid pink !important;
}

.selectionBox {
	background-color: rgba(255, 255, 255, 0.4) !important;
}

.focusedBox div:nth-child(2).loopedBox {
	border-left: 0.8vh solid rgba(184, 127, 184, 1) !important;
}

.loopedBox {
	border-left: 0.8vh solid rgba(184, 127, 184, 1) !important;
}

.arrow{
	margin-left: 0.4vh;
	margin-right: 0.4vh;
	padding-left: 0.6vh;
	padding-right: 0.75vh;
	border-top: 0.4vh solid transparent;
	border-bottom: 0.4vh solid transparent;
	display: none;
}

/* Scrollbar styles */
::-webkit-scrollbar {
	width: 18px;
	height: 12px;
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background: #00FFF2;  
	border-radius: 4vh;
	border: 6px solid black;
}








canvas {
	/* background: tranparent; */
	background-color: rgba(0, 0, 0, 0.7);
	/* border: 0.1vh solid white; */

	/* background: #232323; */
	/* background: #00FFF2; */
}

.music_equalizer_container{
	position: absolute;
	bottom: 1vh;
	right: 0;
	background-color: transparent;
	/* border: 10px solid green; */
}



@keyframes slide {
  from { left: 100%;}
  to { left: -50%;}
}
@-webkit-keyframes slide {
	from { left: 100%;}
	to { left: -50%;}
}

#music_marquee { 
  margin:0;
  padding:0;
  border:0;
	color: #00FFF2;
	background-color: transparent;
  width:315px;
  height:5vh;
  overflow:hidden;
  position:absolute;
	bottom: 1vh;
	right: 7vh;
}

#music_currentSongText {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  font-size:2.5vh;
	font-family: 'Waiting for the Sunrise', cursive;
	background-color: transparent;
  animation-name: slide;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.musicAppStart #music_lightline { 
  margin:0;
  padding:0;
  border:0;
	font-weight: bold;
	border-radius: 4px;
  width:14.5vh;
  height:4.5vh;
  position:absolute;
	left: 3vh;
	bottom: 2vh;
}

.musicAppStart .music_info {
	text-align: center;
  width:100%;
  font-size:2.8vh;
	font-family: 'Waiting for the Sunrise', cursive;
	background-color: transparent;
	/* color: #00FFF2; */
	color: black;

	padding-top: 1vh;
	padding-bottom: 1vh;
}


/* .normalMode{background-color: rgba(184, 127, 184, 1);} */
.normalMode{background-color: #AF88FF;}
.normalMode .music_info{left:0.8vh;}

.enterMode{background-color: rgba(51, 204, 51, 1);}
.enterMode .music_info{left:1.7vh;}

.searchMode{background-color: rgba(255, 20, 147, 1);} 
.searchMode .music_info{left:1vh;}

.selectMode{background-color: orange;} 
.selectMode .music_info{left:1vh;}

