
*{
	background-color: black;
	/* background-color: transparent; */
	overflow: hidden;
}


.clockApp .menu{
	display: none;
}
.clockApp{
	position: absolute;
	top: 40vh;
	left: 10vh;
}
.clockApp .clockGroup {
	display: block !important;
	width: 63vh;
	text-align: center;
	font-size: 20vh;
	color: #00FFF2;
}
.clockApp .clockGroup #current_date{
	font-size: 8vh;
}
.clockApp .timerGroup{
	display: inline !important;
	float: left;
}
.clockApp .timerGroup .showTimer{
	display: block;
	font-size: 3vh;
	color: pink;
	margin-left: 1.5vh;
}
.clockApp .timerGroup .inputTimer{
	display: none;
}
.clockApp .stopwatchGroup{
	display: inline !important;
	float: right;
	font-size: 3vh;
	color: pink;
	margin-right: 1.5vh;
}







.clockAppS{
	text-align: center;
}
.clockAppS .menu_container{
	position: absolute;
	top: 70vh;
	width: 100%;
}
.clockAppS .menu{
	/* border: 2vh solid red; */
	text-align: center;
}
.clockAppS .menu li{
	display: inline;
}
.clockAppS .clockGroup {
	margin-top: 30vh;
	font-size: 200px;
	color: #00FFF2;
}
.clockAppS .clockGroup #current_date{
	font-size: 10vh;
}
.clockAppS .timerGroup .showTimer{
	font-size: 8vh;
	color: pink;
	margin-top: 45vh;
}
.clockAppS .timerGroup .inputTimer{
	color: white;
	font-size: 8vh;
	margin-top: 45vh;
	display: none;
}
.clockAppS .timerGroup input{
	border-radius: 12px;
	background-color: #00FFF2; 
	color: black;
	border: none;
	width: 150px;
	padding: 20px;
	padding-bottom: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 8vh;
	margin: 4px 12px;
	/* cursor: pointer; */
}
.clockAppS .timerGroup input:focus{
	color: #00FFF2; 
	background-color: black;
	outline: none;
}

.clockAppS .stopwatchGroup{
	margin-top: 45vh;
	font-size: 8vh;
	color: #00FFF2;
}

.clockAppS .menu button {
	border-radius: 2.8vh;
	background-color: #00FFF2; 
	color: black;
	border: none;
	width: 200px;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	/* margin: 4px 12px; */
	margin: 0vh 3vh;
	cursor: pointer;
}
.clockAppS .clockAppButtonSelected {
	color: #00FFF2 !important; 
	background-color: black !important;
	outline: none !important;
	border: 0.4vh solid #00FFF2 !important;
}


