

[role=menu] li{
	display: inline;
}

.clock_style {
	margin-top: 230px;
	font-size: 200px;
	color: #00FFF2;		/*blue*/
}

.text_stopwatch{
	margin-top: 240px;
	/* margin-bottom: 0px; */
	font-size: 135px;
	color: #00FFF2;		/*blue*/
}


.button {
	border-radius: 12px;
    background-color: #00FFF2; 
    color: black;
    border: none;
	width: 200px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 12px;
    cursor: pointer;
}

.button:focus {
	color: #00FFF2; 
    background-color: black;
	outline: none;
}


