
.todoApp{
	position: absolute;
	/* border: 0.3vh solid white; */
	top: 5vh;
	right: 5vh;
	width: 100vh;
	height: 35vh;
}

.todoApp .todo_topics{
	float: left;

	width: 23vh;
	margin-left: 0.7vh;
	margin-right: 0.7vh;

	text-align: center;
	font-size: 2.2vh;
	word-wrap: break-word;
}

marquee{
	border: 0.3vh solid #00FFF2;
	border-radius: 0.5vh;

	height: 28vh;
	padding: 1vh;
}

.cs{
	color: #00FFF2;
}

.hw{
	color: red;
}

.ee{
	color: #39ff14;
}

.art{
}

#art_title{
	background: red;
	background: -webkit-linear-gradient(left, orange , yellow, cyan, blue, violet);
	background: -o-linear-gradient(right, orange, yellow, cyan, blue, violet);
	background: -moz-linear-gradient(right, orange, yellow, cyan, blue, violet);
	background: linear-gradient(to right, pink, white, cyan, yellow);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#art_content{
	background: red;
	background: -webkit-linear-gradient(left, orange , yellow, cyan, blue, violet);
	background: -o-linear-gradient(right, orange, yellow, cyan, blue, violet);
	background: -moz-linear-gradient(right, orange, yellow, cyan, blue, violet);
	background: linear-gradient(to right, pink, white, cyan, yellow);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


